.btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

.btn__login__facebook {
    background-color: #007bff;
}

.btn__login__facebook:hover {
    background-color: #0069d9;
}

.btn__logout__facebook {
    color: #212529;
    background-color: #f8f9fa;
}

.btn__logout__facebook:hover {
    color: #212529;
    background-color: #e2e6ea;
}